md-card {
  ul.no-bullet {
    list-style: none;
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    li {
      display: block;
      margin: 0 0 .5em;
    }
  }

  // reset
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display: block;
    font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    font-weight: inherit;
  }
}