/* Top nav */
.prm-primary-bg.prm-hue1,
prm-search-bar.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar {
  background-color: white;
}
prm-topbar {
  height: 120px;
}
prm-search-bookmark-filter .md-button.button-over-dark {
  color: $dark_gray;
}
prm-search-bar,
prm-tags-search-bar,
prm-browse-search-bar {
  background-image: none;
  background-color: $background_light_gray;
}
