/* Top nav */
.prm-primary-bg.prm-hue1,
prm-search-bar.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar {
  background-color: $dark_purple;
}
.__xs prm-topbar prm-logo,
prm-topbar prm-logo {
  max-width: inherit;
}
// Undo something in the angular CSS that is causing
// popover tips to clip the text weirdly
.item-description.popover.animate-popover {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
// Make the library logo responsive, namely for XS screens i.e. phones
.__xs prm-topbar prm-logo {
  min-width: 50%;
}
.__xs prm-logo .logo-image, .__xs prm-logo img {
  width: 100%;
}
