/* Top nav */
prm-topbar {
  height: 120px;
  prm-logo {
    background-color: white;
  }
}
.__xs prm-topbar prm-logo,
prm-topbar prm-logo {
  max-width: inherit;
}
prm-search-bookmark-filter-after button.search-bookmark-filter-item {
  border-radius: 20px !important;
  min-width: 40px !important;
}
prm-logo div.product-logo {
  display: none;
}
prm-logo div.product-logo-local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
prm-main-menu {
  display: none;
}
