// Disable language settings
prm-user-area .user-language,
prm-change-lang {
  display: none;
}
// Disable language options in dialog menu for responsive versions
.md-dialog-is-showing .settings-container {
  div md-divider:first-of-type {
    display: none;
    & + div {
      display: none;
    }
  }
}
