.custom-requests {

  .request-information {
    padding-top: 10px;
  }

  md-icon {
    height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
    top: -1px;
    position: relative;
  }
}

.custom-requests-hide-request-scan { 
  *[aria-label="Request Scan"] {
    display: none !important;
  }
  .skewed-divider {
    display: none !important;
  }
}

.custom-requests-hide-request { 
  *[aria-label="Request"] {
    display: none !important;
  }
  .skewed-divider {
    display: none !important;
  }
}

// prm-location-items {
//   .md-list-item-text button {
//     background-color: #57068c !important;
//     color: #fff !important;
//     font-weight: bold;
//   }
//   .skewed-divider {
//     display: none !important;
//   }
// }