<div layout="row" layout-align="center center" ng-repeat="button in $ctrl.buttons" style="display:none;">
  <button class="button-as-link md-button md-primoExplore-theme md-ink-ripple custom-request-{{ button.id }}" type="button"
    ng-click="$ctrl.handleClick($event, button)" aria-label="Type">
    <prm-icon ng-if="button.prmIconBefore" ng-attr="{{ button.prmIconBefore.attributes }}" icon-type="svg" svg-icon-set="{{ button.prmIconBefore.set }}"
      icon-definition="{{ button.prmIconBefore.icon }}">
    </prm-icon>
    <span>{{ button.label }}</span>
    <prm-icon ng-if="button.prmIconAfter" ng-attr="{{ button.prmIconAfter.attributes }}" icon-type="svg" svg-icon-set="{{ button.prmIconAfter.set }}"
      icon-definition="{{ button.prmIconAfter.icon }}">
  </button>
  <div class="skewed-divider" ng-if="!$last" style="display:none;"></div>
  </div>
<div>
  <span class="custom-request-user-loading" ng-if="$ctrl.customLoginService && $ctrl.loggedIn && !$ctrl.user && !$ctrl.userFailure">{{ $ctrl.translate($ctrl.userLoadingText) }}</span>
  <span class="custom-request-user-failure" ng-if="$ctrl.customLoginService && $ctrl.userFailure">{{ $ctrl.translate($ctrl.userFailureText) }}</span>
  <span class="custom-requests-empty" style="display:none" ng-if="!$ctrl.userFailure">{{ $ctrl.translate($ctrl.noButtonsText) }}</span>
</div>