// Hide Tags in Detailed Display
// From: https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI
[aria-label="Tags"],
#tags {
  display: none;
}

// Hide Browse option from main menu
a.md-button[aria-label="Browse"],
a.md-button[aria-label="mainmenu.label.Browse"] {
  display: none;
}

// Disable built in e-shelf
.pin-button,
prm-favorites-labels,
prm-search-bookmark-filter a[aria-label='Go to my favorites'],
prm-search-bookmark-filter a[aria-label="nui.favorites.goFavorites.tooltip"],
prm-favorites md-tab-item:first-child {
  display: none !important;
}

/* Hide "Add to Saved Items" check box feature.
https://nyu-lib.monday.com/boards/765008773/pulses/5276773633
To avoid adding items to my e-shelf if they aren't going to be migrated to the new catalog. */
div.nyu-eshelf.neutralized-button.md-button.md-primoExplore-theme {
  display: none;
}