// Disable built in e-shelf
.pin-button,
prm-favorites-labels,
prm-search-bookmark-filter a[aria-label='Go to my favorites'],
prm-search-bookmark-filter a[aria-label="nui.favorites.goFavorites.tooltip"],
prm-favorites md-tab-item:first-child {
  display: none !important;
}

// Hide default library card options
prm-library-card-menu>button {
  display: none !important;
}

a.md-button[aria-label="Browse"],
a.md-button[aria-label="mainmenu.label.Browse"] {
  display: none;
}

/* Hide "Add to Saved Items" check box feature.
https://nyu-lib.monday.com/boards/765008773/pulses/5276773633
To avoid adding items to my e-shelf if they aren't going to be migrated to the new catalog. */
div.nyu-eshelf.neutralized-button.md-button.md-primoExplore-theme {
  display: none;
}