// FORCE A REBUILD

@mixin focusOutline{
    -webkit-box-shadow: inset 0 0 0 2px $border_focus !important;
    box-shadow: inset 0 0 0 2px $border_focus  !important;
    overflow: -moz-hidden-unscrollable  !important;
}

button:focus,
a:focus {
    @include focusOutline;
}

.neutralized-button:focus {
    @include focusOutline;
}

// Borrowed from Bootstrap
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[external-link] {
    color: $button_link_color;
}