a.bobcat-custom-button-nyu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  box-shadow: none;
  background-color: rgba(77, 2, 121, 1);
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 3px;
  display: inline-block;

  &:hover, &:focus {
    background-color: rgba(69, 2, 109, 1);
    color: #fff;
  }

  [external-link] {
    color: #fff;
  }
}

// Turn the request links into styled buttons
prm-location-items {
  .md-button.button-as-link, .md-button.button-as-link.link-alt-color {
    background-color: #05568a;
    color: #fff;
    font-weight: bold;
  }
  .skewed-divider {
    display: none;
  }
}

// Disable that horrible green on the "Submit request" button
// wherever it's coming from
.service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]) {
  background-color: inherit;
}