a.bobcat-custom-button-nyu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  box-shadow: none;
  background-color: rgba(77, 2, 121, 1);
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 3px;
  display: inline-block;

  &:hover, &:focus {
    background-color: rgba(69, 2, 109, 1);
    color: #fff;
  }

  [external-link] {
    color: #fff;
  }
}

