.custom-requests {

  .request-information {
    padding-top: 10px;
  }

  md-icon {
    height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
    top: -1px;
    position: relative;
  }
}

/* Imitates prm-service-button styles */
button[class*="custom-request-"] {
  padding: .5em .35em !important;
}

/* Useful for the 'attributes' in prmIconBefore/prmIconAfter to make it fit in button appropriately */
[custom-requests] md-icon {
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
  top: -1px;
  position: relative;
}

.custom-requests-hide-request-scan,
.custom-requests-hide-request {
  .skewed-divider {
    display: none !important;
  }
}

.custom-requests-hide-request-scan { 
  prm-service-button > button[aria-label="Request Scan"] {
    display: none !important;
  }
}

.custom-requests-hide-request  { 
  prm-service-button > button[aria-label="Request Physical Copy"] {
    display: none !important;
  }
}

// Turn the request links into styled buttons
prm-location-items {
  .md-button.button-as-link {
    background-color: #05568a;
    color: #fff;
    font-weight: bold;
  }
  .skewed-divider {
    display: none;
  }
}

// Disable that horrible green on the "Submit request" button
// wherever it's coming from
.service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]) {
  background-color: inherit;
}