@import '../app-colors.css';

@import 'variables';
@import 'a11y';
@import 'facets';
@import 'header';
@import 'searchbar';
@import 'spinner';
@import 'full';
@import 'notifications';
@import 'card';
@import 'showmore';
@import 'requests';
@import 'button';
@import 'hide';

@import '~primo-explore-custom-no-search-results/css/custom1.css';

primo-explore-top-alert .bar.alert-bar {
  font-size: 18px;
  font-weight: 700;
  border-color: #F89763;
  background-color: #F89763 !important;
}